[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "themes/hugo-theme-tranquilpeak"]
	path = themes/hugo-theme-tranquilpeak
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
